@import url('../common/qunb.css');
@import url('../../vendor/fontello/css/fontello.css');

/*
only for design
-----*/
.container {
	margin-top: 100px;
}

.column.large-centered, .columns.large-centered {
	margin-left:0;
	margin-right:0;
	width: 970px;
}

.player {
	
	border-color: #6e6e6e;
	border-style: solid;
	border-width: 2px;
	height: 480px;
	padding: 0;
}


/*
real stuff
-----*/

.full.row{
	width: 100%;
}

.top.row{
	position: absolute;
	top: 20px;
}

.bottom.row{
	position: absolute;
	bottom: 50px;
}

.margin-left {
	margin-left: 25px;
}